/**
 *
 * BeAdmin - Bootstrap Admin Theme - Main Stylesheet
 *
 * Author: @themicon_co
 * Website: http://themicon.co
 * License: http://support.wrapbootstrap.com/knowledge_base/topics/usage-licenses
 *
 */

/* ========================================================================
   Component: bootstrap-reset.less
 ========================================================================== */

a {
  outline: none !important;
}

hr {
  border-top: 1px solid #e4eaec;
}
.komplexcontainer {
	width: auto;
 padding: 10px 20px 0px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #dde6e9;
}
.komplexbiztetelcontainer {
	width: auto;
    height: 650px;
 padding: 10px 20px 0px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #dde6e9;
}
.komplexcontainerleft {
	width: 770px;
    height: 400px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #dde6e9;
}
.komplexcontainerright {
    width: 750px;
    height: 300px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: red;
}
.clsztornobizonylat {
    color: blueviolet;
    font: italic bold 12px/30px Georgia, serif;
    text-decoration: line-through;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: goldenrod;
}
.lezaratlan {
    color: #dde6e9;
    font: italic bold 12px/30px Georgia, serif;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: red;
}
.fixarras {
    color: blueviolet;
}
.cikknemaktiv {
    color: white
    font: italic bold 12px/30px Georgia, serif;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: red;
}
.clminimumkeszletalatt {
    color: black;
    font: italic 12px/30px Georgia, serif;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: Yellow;
}
.clbiztminimumkeszletalatt {
    color: black;
    font: italic 12px/30px Georgia, serif;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: Yellow;
}
.clakciosar {
    color: white;
    font: italic bold 12px/30px Georgia, serif;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: green;
}
.clnemmozgatkeszletet {
    color: white;
    background: green;
    font: italic bold 12px/30px Georgia, serif;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: green;
}
.clarajanlatmozgatkeszletet {
    color: white
    font: italic bold 12px/30px Georgia, serif;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: red;
}

.clNincseredetikinyomtatva {
    color: #dde6e9;
    font: italic bold 12px/30px Georgia, serif;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: darkgreen;
}
.clkinemfizetettszamla{
    font-family: Arial Bold;
}

.temptab {
	width: auto;
 padding: 10px 20px 0px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #dde6e9;
}
.page-header {
  border-bottom-color: #e4eaec;
}

.panel .panel-heading {
  border-bottom: 0;
  font-size: 14px;
}

.panel .panel-heading a {
  text-decoration: none !important;
}

.panel.panel-default {
  border-top-width: 3px;
}

.well {
  border: 1px solid #dde6e9;
}

.jumbotron {
  border: 1px solid #dde6e9;
}

.nav-tabs > li > a {
  font-weight: bold;
  color: #515253;
  background-color: #edf1f2;
  margin: 0;
  border: 1px solid #dde6e9;
  border-radius: 0;
  padding: 10px 20px;
    display:none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: inherit;
  border-bottom-color: #fff;
  display:block;
}

.tab-content {
  padding: 10px 20px 0px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #dde6e9;
}

.nav-pills + .tab-content {
  border: 0;
  padding: 0;
}

.btn {
  border-radius: 3px;
  font-size: 13px;
  border-color: transparent;
  -webkit-appearance: none;
  outline: none !important;
  transition: all 0.1s;
}

.btn.btn-link {
  box-shadow: none;
  border: 0;
}

.btn.btn-default {
  border-color: #ccc;
}

.input-group .btn {
  font-size: 14px;
}

.input-group .input-sm + .input-group-btn .btn {
  font-size: 13px;
}

.form-control,
.input-group-addon {
  border-color: #dbd9d9;
}

.form-control {
  box-shadow: 0 0 0 #000 !important;
}

.input-group-addon {
  background-color: #f8f9fb;
}

.input-sm,
select.input-sm {
  height: 31px;
}

fieldset {
  padding-bottom: 20px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 20px;
}

fieldset.last-child,
fieldset:last-child {
  border-bottom: 0;
}

fieldset .form-group {
  margin-bottom: 0;
}

.table > thead > tr > th {
  border-bottom-width: 1px;
}

.table > tbody + tbody {
  border-bottom-width: 1px;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}

.progress {
  box-shadow: 0 0 0 #000;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
}

.progress .progress-bar {
  box-shadow: 0 0 0 #000;
}

.popover {
  box-shadow: 0 0 0 #000;
  border-color: #eee;
  border-bottom: 2px solid #e4eaec;
  border-radius: 3px;
}

.popover .popover-title {
  border: 0;
}

.nav.nav-pills .active > a {
  background-color: #1c75bf;
}

.dropdown-menu {
  border-radius: 3px;
}

.dropdown-header {
  color: #a1a2a3;
}

.navbar-top .navbar-nav > .active > a {
  color: #999;
}

.navbar-top .navbar-nav > .active > a:hover,
.navbar-top .navbar-nav > .active > a:focus {
  color: #d1d2d3;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #666;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #222;
}

.carousel .carousel-indicators {
  bottom: 0;
}

.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-image: none;
}

.carousel .carousel-control em {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

/* ========================================================================
   Component: button-extra.less
 ========================================================================== */

.btn-inverse {
  color: #fff;
  background-color: #131e26;
  border-color: #131e26;
}

.btn-inverse:focus,
.btn-inverse.focus {
  color: #fff;
  background-color: #020304;
  border-color: #000000;
}

.btn-inverse:hover {
  color: #fff;
  background-color: #020304;
  border-color: #000000;
}

.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #fff;
  background-color: #020304;
  border-color: #000000;
}

.btn-inverse:active:hover,
.btn-inverse.active:hover,
.open > .dropdown-toggle.btn-inverse:hover,
.btn-inverse:active:focus,
.btn-inverse.active:focus,
.open > .dropdown-toggle.btn-inverse:focus,
.btn-inverse:active.focus,
.btn-inverse.active.focus,
.open > .dropdown-toggle.btn-inverse.focus {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}

.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus {
  background-color: #131e26;
  border-color: #131e26;
}

.btn-inverse .badge {
  color: #131e26;
  background-color: #fff;
}

.btn-green {
  color: #fff;
  background-color: #14ddb3;
  border-color: transparent;
}

.btn-green:focus,
.btn-green.focus {
  color: #fff;
  background-color: #10ae8d;
  border-color: rgba(0, 0, 0, 0);
}

.btn-green:hover {
  color: #fff;
  background-color: #10ae8d;
  border-color: rgba(0, 0, 0, 0);
}

.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  color: #fff;
  background-color: #10ae8d;
  border-color: rgba(0, 0, 0, 0);
}

.btn-green:active:hover,
.btn-green.active:hover,
.open > .dropdown-toggle.btn-green:hover,
.btn-green:active:focus,
.btn-green.active:focus,
.open > .dropdown-toggle.btn-green:focus,
.btn-green:active.focus,
.btn-green.active.focus,
.open > .dropdown-toggle.btn-green.focus {
  color: #fff;
  background-color: #0d8d73;
  border-color: rgba(0, 0, 0, 0);
}

.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-image: none;
}

.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
fieldset[disabled] .btn-green.focus {
  background-color: #14ddb3;
  border-color: transparent;
}

.btn-green .badge {
  color: #14ddb3;
  background-color: #fff;
}

.btn-purple {
  color: #fff;
  background-color: #7266ba;
  border-color: transparent;
}

.btn-purple:focus,
.btn-purple.focus {
  color: #fff;
  background-color: #564aa3;
  border-color: rgba(0, 0, 0, 0);
}

.btn-purple:hover {
  color: #fff;
  background-color: #564aa3;
  border-color: rgba(0, 0, 0, 0);
}

.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
  color: #fff;
  background-color: #564aa3;
  border-color: rgba(0, 0, 0, 0);
}

.btn-purple:active:hover,
.btn-purple.active:hover,
.open > .dropdown-toggle.btn-purple:hover,
.btn-purple:active:focus,
.btn-purple.active:focus,
.open > .dropdown-toggle.btn-purple:focus,
.btn-purple:active.focus,
.btn-purple.active.focus,
.open > .dropdown-toggle.btn-purple.focus {
  color: #fff;
  background-color: #493f8b;
  border-color: rgba(0, 0, 0, 0);
}

.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
  background-image: none;
}

.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled.focus,
.btn-purple[disabled].focus,
fieldset[disabled] .btn-purple.focus {
  background-color: #7266ba;
  border-color: transparent;
}

.btn-purple .badge {
  color: #7266ba;
  background-color: #fff;
}

.btn-pink {
  color: #fff;
  background-color: #f532e5;
  border-color: transparent;
}

.btn-pink:focus,
.btn-pink.focus {
  color: #fff;
  background-color: #e90bd6;
  border-color: rgba(0, 0, 0, 0);
}

.btn-pink:hover {
  color: #fff;
  background-color: #e90bd6;
  border-color: rgba(0, 0, 0, 0);
}

.btn-pink:active,
.btn-pink.active,
.open > .dropdown-toggle.btn-pink {
  color: #fff;
  background-color: #e90bd6;
  border-color: rgba(0, 0, 0, 0);
}

.btn-pink:active:hover,
.btn-pink.active:hover,
.open > .dropdown-toggle.btn-pink:hover,
.btn-pink:active:focus,
.btn-pink.active:focus,
.open > .dropdown-toggle.btn-pink:focus,
.btn-pink:active.focus,
.btn-pink.active.focus,
.open > .dropdown-toggle.btn-pink.focus {
  color: #fff;
  background-color: #c70ab7;
  border-color: rgba(0, 0, 0, 0);
}

.btn-pink:active,
.btn-pink.active,
.open > .dropdown-toggle.btn-pink {
  background-image: none;
}

.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled.focus,
.btn-pink[disabled].focus,
fieldset[disabled] .btn-pink.focus {
  background-color: #f532e5;
  border-color: transparent;
}

.btn-pink .badge {
  color: #f532e5;
  background-color: #fff;
}

.btn-outline {
  background-color: transparent;
  border-color: #fff;
}

.btn-outline:hover,
.btn-outline:focus {
  background-color: #fff;
  color: #1c75bf;
}

.btn-flat {
  border-bottom-width: 1px;
  border-radius: 0;
  box-shadow: 0 0 0 #000;
}

.btn-xl {
  padding: 20px 16px;
  font-size: 18px;
}

.btn-square {
  border-radius: 0;
}

.btn-pill-left,
.btn-oval {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 18px;
}

.btn-pill-right,
.btn-oval {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-right: 18px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-label {
  position: relative;
  background: transparent;
  background: rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 7px 18px;
  left: -18px;
  border-radius: 3px 0 0 3px;
}

.btn-label.btn-label-right {
  left: auto;
  right: -18px;
  border-radius: 0 3px 3px 0;
}

.btn-lg .btn-label {
  padding: 10px 16px;
  left: -16px;
  border-radius: 5px 0 0 5px;
}

.btn-lg .btn-label.btn-label-right {
  left: auto;
  right: -16px;
  border-radius: 0 5px 5px 0;
}

.btn-sm .btn-label {
  padding: 5px 10px;
  left: -10px;
  border-radius: 2px 0 0 2px;
}

.btn-sm .btn-label.btn-label-right {
  left: auto;
  right: -10px;
  border-radius: 0 2px 2px 0;
}

.btn-xs .btn-label {
  padding: 1px 5px;
  left: -5px;
  border-radius: 2px 0 0 2px;
}

.btn-xs .btn-label.btn-label-right {
  left: auto;
  right: -5px;
  border-radius: 0 2px 2px 0;
}

.btn-fw {
  min-width: 80px;
}

.btn-fw.btn-sm {
  min-width: 40px;
}

.btn-fw.btn-md {
  min-width: 60px;
}

.btn-fw.btn-lg {
  min-width: 140px;
}

body {
  min-height: 400px;
}

@media only screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
}

.page-wrapper {
  height: 100%;
  padding: 50px 0;
  background-color: #e8ebec;
}
