.ajax-loader {
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 1px;
  right: 0px;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999; }
  .ajax-loader #ajax-loader-cog {
    position: fixed !important;
    top: 50% !important;
    margin-top: -195px; }

#ajax-loader-cog {
  position: absolute;
  z-index: 9999;
  left: 50%;
  /*  top: 50%;*/
  margin-left: -.45em;
  /*  margin-top: -.9em;*/
  width: .9em;
  height: 1.5em;
  font-size: 20em; }

.ajax-loader-message {
  color: #fff;
  font-size: 23px;
  top: 50%;
  left: 50%;
  text-align: center;
  position: absolute;
  width: 300px;
  margin-left: -150px;
  margin-top: -50px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); }

/*
 *  Usage:
 *
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
 *
 */
.sk-three-bounce {
  margin: 40px auto;
  width: 80px;
  text-align: center; }

.sk-three-bounce .sk-child {
  width: 20px;
  height: 20px;
  display: none;
  background-color: #00cfff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }

.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
