body {
	font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

.navbar {
	padding: 0 16px 0 0;
	background: rgba(255,255,255,0.7);
}

.navbar .navbar-brand {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.09em;
	padding: 10px 15px 0 0;
	color: #0B5E55;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:active,
.navbar .navbar-brand:visited {
	color: #1b7269;
}

.navbar .navbar-logo {
	display: inline-block;
    margin-top: -10px;
    background: #0b5e55;
    border: 10px solid #0b5e55;
}

.footer-brand {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	letter-spacing: 0.09em;
	color: rgba(11, 94, 85, 80);
}
