// Body
$body-bg: #fffff;

// Borders
$enable-rounded: false;
// $laravel-border-color: #dddddd;
$laravel-border-color: #ffffff;
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$card-default-border: $laravel-border-color;
$card-inner-border: $laravel-border-color;

// Brands
$theme-colors: (
	'primary': #33857c,
	'info': #3f5b8e,
	'success': #53b144,
	'warning': #d68a52,
	'danger': #d15059
);

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #00473f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten(map-get($theme-colors, 'primary'), 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$card-default-heading-bg: #fff;
