<div class="empty-layout" data-options="dxLayout : { name: 'empty' } " >
    <div class="content layout-content" data-options="dxContentPlaceholder : { name: 'content', animation: 'view-content-change' }">
    </div>
</div>

<div class="empty-layout" data-options="dxLayout : { name: 'empty', platform: 'win', phone: false } " >
    <div class="content layout-content" data-options="dxContentPlaceholder : { name: 'content', contentCssPosition: 'static' }">
    </div>
</div>
